@import "./../../variables.scss";

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  width: $login-container-width;
  height: 100vh;

  .login-form,
  .signup-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px; // Add some spacing between login and signup forms
  }

  span {
    font-size: 25px;
    color: $dark-purple;
    font-weight: bold;
  }

  .signup-form {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }

  h3 {
    margin-bottom: 10px;
  }
}
