@import "./../../variables.scss";

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-left: calc(0.05*$login-container-width);
    background-color: $white;
    width: $login-container-width;
    height: 100vh;
    .login-form {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // align-items: center;
    }
}