@import "./../../variables.scss";

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    width: $login-container-width;
    height: 100vh;
    .login-form {
        // background-color: $dark-purple;
        height: 40%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input, button{
            width: 50%;
            margin-bottom: 20px;
        }
    }
}