@import './../../variables.scss';

.add-customer-form {
    background-color: $white;
    height: 100%;
    width: 0;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: -1px 0px 5px #d4d4d4;
    overflow: hidden; /* Ensure content doesn't overflow during animation */
    transition: width 0.5s ease-in-out;

    &.slide-in {
        width: 450px;
    }

    &.slide-out {
        width: 0;
    }

    .header {
        border-bottom: solid #d4d4d4 1px;
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        h1 {
            font-size: large;
        }
    }
    
    .body {
        padding: 4%;
    }

    .button-tray {
        position: absolute;
        bottom: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8%;
        width: 100%;
    }
}
