.nav-bar {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .button-routes {
        margin-top: 80px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .icon {
            padding: none;
            margin-bottom: 10px;
        }
    }
    .logout-icon {
        margin-bottom: 80px;
    }
}