@import './../../variables.scss';

.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: auto;
    background-color: $dark-purple;
}
