@import './../../variables.scss';

.action-button {
    padding: 10px;
    border-radius: 5px;
    width: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.add-button {
        background-color: $primary-dark;
        color: $white;
        margin-left: 4%;
    }

    &.sign-in-button, &.sign-up-button {
        background-color: $primary-dark;
        color: $white;
        width: auto;
    }

    &.cancel-button {
        background-color: #d4d4d4;
    }
}
