@import './../../variables.scss';

.home-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .home-page-info {
        padding-left: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $dark-purple;
        height: 100%;
        width: 100%;
    }
}
